.footer {
    width: 100%;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);

    a {
        transition: all 0.3s;

        &:hover {
            color: $secondary;
            transition: all 0.3s;
        }
    }
}