services:
  backend:
    build: ./backend
    command: npm run start:dev
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=development
      - MONGODB_URI=mongodb://root:defekt2025@mongodb:27017/mulda?authSource=admin
      - TURNSTILE_SECRET=${TURNSTILE_SECRET}
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - mongodb
  frontend:
    build: ./frontend
    command: npm run dev -- --host 0.0.0.0 --port 8080
    ports:
      - "8080:8080"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: defekt2025
      MONGO_INITDB_DATABASE: mulda
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
