@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: pořešit vlastní styly + variables na barvy */

.header {
    background: #003049;
    background: linear-gradient(to right, #003049, #164263, #2a5a88);
}

.footer {
    background: #003049;
}

.copyright {
    background: #002837
}