// Bootstrap settings
@import "./bootstrap";

// Custom styles
@import "./partials/footer";
@import "./partials/header";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
}

.section {
    padding: 3rem 0;
}
#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}